[submodule "roles/role_app_minecraft"]
	path = roles/role_app_minecraft
	url = git@github.com-mdesaive:mdesaive/role_app_minecraft.git
[submodule "roles/role_app_nginx_letsencrypt_proxy"]
	path = roles/role_app_nginx_letsencrypt_proxy
	url = git@github.com-mdesaive:mdesaive/role_app_nginx_letsencrypt_proxy.git
[submodule "roles/role_app_geyser"]
	path = roles/role_app_geyser
	url = git@github.com-mdesaive:mdesaive/role_app_geyser.git
[submodule "roles/role_app_bungee"]
	path = roles/role_app_bungee
	url = git@github.com-mdesaive:mdesaive/role_app_bungee.git
[submodule "inventory"]
	path = inventory
	url = git@github.com-mdesaive:mdesaive/inventories_gamezone.git
	branch = aws-ew1-aza
[submodule "roles/role_orch_ec2"]
	path = roles/role_orch_ec2
	url = git@github.com-mdesaive:mdesaive/role_orch_ec2.git
